<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>전국 대학생 투표 대항전</title>
  <meta property="og:url" value="{{ request.build_absolute_uri }}" />
  <meta property="og:title" value="전국 대학생 투표 대항전" />
  <meta property="og:description" value="제19대 대선을 맞아 '전국 대학생 투표 대항전'을 진행합니다! {{ vote.school.name }} 학생 여러분, 투표 인증에 동참해주세요!" />
  <meta property="og:image" value="{{ vote.image }}" />
  <meta property="og:locale" value="ko_KR" />
  <meta property="fb:app_id" value="108176659752108" />
</head>
<body>Open Graph Tags for Facebook Bots</body>
</html>
