<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>전국 대학생 투표 대항전</title>
  <meta property="fb:app_id" content="108176659752108" />
  <meta property="og:url" content="https://univote.kr" />
  <meta property="og:title" content="전국 대학생 투표 대항전" />
  <meta property="og:description" content="제19대 대통령 선거에서 대학생들의 투표를 독려하고자 대학생 투표 대항전을 진행합니다. 투표 인증샷을 페이스북에 공유해 우리학교 랭킹을 높여보세요! 많은 참여와 공유 부탁드립니다!" />
  <meta property="og:image" content="https://univote.kr/images/main.jpg" />
  <meta property="og:locale" content="ko_KR" />
</head>
<body>Open Graph Tags for Facebook Bots</body>
</html>
