<div *ngIf="vote && school">
  <div class="panel panel-primary">
    <div class="panel-body">
      <div class="text-center">
        <img src="/assets/images/my_vote.png" class="item">
        <div class="item item-person">{{vote.user_name}}</div>
        <div class="item item-school text-left">
          <p class="school-name"><a routerLink="/schools/{{school.id}}">{{school.name}}</a></p>
          <p class="school-stat">:: 투표율 {{getRanking(school, 'vote_rate')}}위 ({{school.vote_rate | percent:'1.2-2'}})</p>
          <p class="school-stat">:: 투표수 {{getRanking(school, 'vote_num')}}위 ({{school.vote_num}}명)</p>
        </div>
      </div>
    </div>
  </div>

  <img src="{{vote.image}}" class="panel panel-primary" alt="로딩중">

  <div class="panel panel-primary">
    <div class="panel-heading">'{{vote.user_name}}'님의 한마디</div>
    <div class="panel-body">{{vote.comment}}</div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <a routerLink="/" type="button" class="btn btn-default btn-lg btn-block btn-margin">투표인증 하러가기</a>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-lg btn-block btn-margin"
              (click)="sharePage()">
        페이스북에 공유하기
      </button>
    </div>
  </div>
 
</div>
<div *ngIf="!vote || !school">
  <h2>Loading...</h2>
</div>
